﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/scripts/jquery.webcam.js")
    @Scripts.Render("~/Content/scripts/jscam.swf")
    @Scripts.Render("~/Content/scripts/jscam_canvas_only.swf")
    @RenderSection("scripts", required: false)
</body>
</html>
