﻿@{
    ViewBag.Title = "Index";
}
@section scripts
{
    <script>
        function hasGetUserMedia() {
            // Note: Opera is unprefixed.
            return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia || navigator.msGetUserMedia);
        }

        
        function UploadToCloud() {
            var img = canvas.toDataURL(null, 0.1).split(',')[1];
            console.log(canvas.toDataURL(null, 0.5));
            $.ajax({
                url: "@Url.Content("~/Home/Capture")",
                type: "POST",
                data: "{ 'img': '" + img + "' }",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    alert('Image Uploaded!!');
                },
                error: function () {
                    alert("There was some error while uploading Image");
                }
            });
        }

        $(function(){
            if (hasGetUserMedia()) {
                    // Grab elements, create settings, etc.
                        canvas = document.getElementById("canvas"),
                        context = canvas.getContext("2d"),
                        video = document.getElementById("video"),
                        videoObj = { "video": true },
                        errBack = function (error) {
                            console.log("Video capture error: ", error.code);
                        };

                    if (navigator.getUserMedia) { // Standard
                        navigator.getUserMedia(videoObj, function (stream) {
                            video.src = stream;
                            video.play();
                        }, errBack);
                    } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
                        navigator.webkitGetUserMedia(videoObj, function (stream) {
                            video.src = window.webkitURL.createObjectURL(stream);
                            video.play();
                        }, errBack);
                    }

                    // Trigger photo take
                    setInterval(function () {
                        context.drawImage(video, 0, 0, 144, 101);
                        UploadToCloud();
                    },2*1000);
            } else {
                alert('getUserMedia() is not supported in your browser');
            }
        });
     </script>
}

<h2>Index</h2>

<video autoplay id="video" width="640" height="480"></video>
<input id="snap" type="button" value="Click" />
<canvas id="canvas" width="144" height="101"></canvas>